.add-payment-card{
    cursor: pointer;
    position: relative;
    height: 14rem;
    width: 12rem;
    border-radius: 0.5rem;
    background-color: #2caffe;
}

.dark-band{
    position: absolute;
    bottom: 20%;
    background-color: #309DDF;
    width: 100%;
    height: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.fab{
    background-color: #353f81;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab img{
    height: 50%;
    width: 50%;
}

