<div (click)="navigateToPayment()" class="add-payment-card">
    <div class="dark-band">
      <h5>ADD PAYMENT</h5>      
    </div>
    <div class="fab">
      <img src="../../assets/add.svg" alt="">
    </div>
  </div>