.payment-card{
    cursor: pointer;
    position: relative;
    height: 14rem;
    width: 12rem;
    border-radius: 0.5rem;
    background-color: #ececec;
    padding-top: 10%;
}

.dark-band{
    background-color: #dadada;
    width: 100%;
    height: auto;
    color: black;
    padding: 8% 10% 8% 10%;
}

.card-info{
    padding: 8% 10% 8% 10%;
}

p{
    font-size: 0.7rem;
    color: #7d7d7d;
    line-height: 0.4rem;
}

h5{
    line-height: 0rem;
}

h6{
    font-size: 0.8rem;
    line-height: 0rem;
    margin-bottom: 1.2rem;
}

.expiry-cvv{
    display:flex;
    flex-direction: row;
}

.cvv{
    margin-left: 15%;
}





