<div class="payment-card">
    <div class="dark-band">
        <p>TRANSACTION AMOUNT</p> 
        <h5>{{payment.amount}} USD</h5>    
    </div>
    <div class="card-info">
        <p>CARD NUMBER</p> 
        <h6>{{payment.cardNumber}}</h6> 
        <p>NAME</p> 
        <h6>{{payment.cardHolder| uppercase}}</h6> 
        <div class="expiry-cvv">
            <div>
                <p>EXPIRY</p> 
                <h6>{{payment.cardExpiry| date: 'MM/yyyy'}}</h6>
            </div>
            <div *ngIf="payment.cardCVV" class="cvv">
                <p>CVV</p> 
                <h6>{{payment.cardCVV}}</h6>
            </div>
        </div> 
    </div>
</div>
