<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/dashboard']">
        <img src="../../assets/logo.svg" width="100" height="60" alt="" loading="lazy">
      </a>
    </div>
</nav>
<router-outlet></router-outlet>