<div class="container">
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-md-6">
        <div class="payment-input-panel">
          <div class="payment-input">
            <p class="label">CARD NUMBER</p>
            <input formControlName="cardNumber" type="text">
            <div *ngIf="cardNumber.invalid && cardNumber.touched">
              <div *ngIf="cardNumber.errors?.pattern">
                <p class="error-text">CARD NUMBER MUST CONTAIN 16 DIGITS</p>
              </div>
              <div  *ngIf="cardNumber.value==''">
                <p class="error-text">CARD NUMBER IS MANDATORY</p>
              </div>
            </div>
           
          </div>
          <div class="payment-input">
            <p class="label">CARD HOLDER</p>
            <input formControlName="cardHolder" type="text">
            <p *ngIf="cardHolder.invalid && cardHolder.touched"  class="error-text">NAME IS MANDATORY</p>
          </div>
          <div class="payment-input-container">
            <div class="payment-input">
              <p class="label">CARD EXPIRY</p>
              <input placeholder="MM/YYYY" formControlName="cardExpiry"type="text">
              <div *ngIf="cardExpiry.invalid && cardExpiry.touched">
                <div *ngIf="cardExpiry.errors?.pattern">
                  <p class="error-text">CARD EXPIRY MUST BE IN MM/YYYY FORMAT</p>
                </div>
                <div  *ngIf="cardExpiry.value==''">
                  <p class="error-text">CARD EXPIRY IS MANDATORY</p>
                </div>
              </div>
            </div>
            <div class="payment-input">
              <p class="label">CARD CVV</p>
              <input formControlName="cardCVV" type="text">
              <div *ngIf="cardCVV.dirty && cardCVV.invalid">
                  <p class="error-text">CCV MUST BE 3 DIGIT</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="payment-input-panel">
          <div class="payment-input">
            <p class="label">AMOUNT</p>
            <input formControlName="amount" type="text">
            <div *ngIf="amount.invalid && amount.touched">
              <div *ngIf="amount.errors?.min">
                <p class="error-text">AMOUNT CANNOT BE ZERO</p>
              </div>
              <div *ngIf="!amount.errors?.min">
                <p class="error-text">AMOUNT IS MANDATORY</p>
              </div>
            </div>
            
            
          </div>
          <div class="payment-submit">
            <p>SUBMIT</p>
            <button class="submit" [disabled]="!paymentForm.valid" type="submit">CONFIRM PAYMENT</button>
            <p class="error-text">AMOUNT CANNOT BE ZERO</p>
          </div>
          <div class="payment-cancel">
            <p>CANCEL</p>
            <button routerLinkActive="router-link-active"  class="cancel">CANCEL PAYMENT</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

