::-webkit-input-placeholder { font-size: 0.8rem; }
::-moz-placeholder { font-size: 0.8rem; } 
:-ms-input-placeholder { font-size: 0.8rem; }
input:-moz-placeholder { font-size: 0.8rem; }

.payment-input-panel{
    width: 85%;
}

.payment-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.payment-input{
    width: 100%;
    margin-bottom: 2rem;
}

.payment-input-container .payment-input{
    width: 45%;
}



.payment-input .label{
    font-size: 0.8rem;
    color: #7d7d7d;
}

.payment-input input{
    width: 100%;
    height: 3rem;
    background-color: #eeeeee;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}



.payment-submit, .payment-cancel{
    width: 100%;
    margin-bottom: 2rem;

}

.payment-submit p, .payment-cancel p{
    font-size: 0.8rem;
    color: #7d7d7d;
    visibility: hidden;
}

.submit{
    width: 100%;
    height: 3rem;
    background-color: #2caffe;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-size: 0.8rem;
}

.cancel{
    width: 100%;
    height: 3rem;
    background-color: #353f81;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-size: 0.8rem;
}

.error-text{
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: black;
}





