
<div class="container">
  <div *ngIf="(payments|async).length==0" class="empty-state">
    <app-payment-button></app-payment-button>
    <h4>YOU HAVE NOT MADE ANY PAYMENTS YET</h4>
    <h6>ONCE YOU MAKE SOME PAYMENTS THE DETAILS WILL APPEAR HERE</h6>
  </div>
  <div *ngIf="(payments|async).length>0"  class="filled-state">
    <div class="payment-card-container">
      <app-payment-card *ngFor="let payment of payments|async" [payment]="payment"></app-payment-card>
      <app-payment-button></app-payment-button>
    </div>
    
  </div>
  

</div>


