.empty-state{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}


.payment-card-container{
    align-items: start;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, 13rem);
	justify-content: start;

}


.empty-state h4{
    margin-top: 40px;
    margin-bottom: 10px;
}

.empty-state h6{
    color: #acacac;
}





